.ai-all-products {
        display: grid;
        grid-template-columns: auto auto;
}

.ai-product-div {
    display: grid;
    grid-template-rows: auto auto;
}

.product-adding-div {
    display: grid;
    grid-template-columns: 70% 30%;
}

.more-action {
    margin-top: 29px;
    padding: 8px;
    border: 1px solid brown;
    background: none;
}

.add-product-ai {
    padding: 9px;
    border: none;
    color: #fff;
    background: burlywood;
    margin-left: 10px;
    width: 127px;
}

table {
    width: 850px;
    margin-left: 25px;
    background: rgb(254, 247, 247);
}

.product-heading td {
    border: none;
}

td {
    border-bottom: 1px solid rgb(219, 211, 211);
}

.img {
    width: 50px;
    height: 45px;
}

.product-heading {
    background: rgb(247, 235, 225);
    font-weight: 500;
}

td {
    padding: 10px;
    text-align: center;
}

.all-pro-pagination button {
    width: 35px;
    border-radius: 5px;
    border: none;
    background: white;
    font-size: 14px;
}

.all-pro-pagination {
    margin-left: 35rem;
}

.all-pro-pagination button:focus {
    border: 1px solid rgba(240, 186, 105, 0.968);
}

.bulk-actions {
    text-align: center;
}

.bulk-actions {
    font-weight: bold;
    font-size: 14px;
}

.bulk-actions span {
    font-weight: 400;
    font-size: 15px;
    color: lightgray;
}

.bulk-actions i {
    margin-top: 5px;
    color: blue;
}

.select-opt {
    border: none;
    font-size: 15px;
    color: lightgray;
}

.show-list {
    font-size: 14px;
    text-align: right;
    margin-right: 55px;
}

.show-list select {
    width: 80px;
    border-radius: 5px;
    margin-left: 5px;
    padding: 5px;
}

.showing-tag-name {
    font-size: 14px;
    margin-left: 25px;
}

.shadow {
    margin-right: 10px;
}

.pro-status-disabled {
    background-color: gray;
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    border-radius: 5px;
    padding-right: 5px;
}

.pro-status-approval_pending {
    background-color: orangered;
    color: #fff;
    padding-left: 2px;
    padding-right: 1px;
    font-size: 12px;
    padding-right: 3px;
    border-radius: 5px;
}

.pro-status-approved {
    background-color: green;
    color: #fff;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}

.ai-sub-title {
    color: #b9aeae;
}

.fa-ellipsis {
    cursor: pointer;
}
.shadows{
        margin-right: 45px;
}