.aidashboard {
    display: grid;
    grid-template-columns: 25% 75%;
}

.ai-logo-title {
    text-align: center;
}
.ai-logo {
    width: 170px;
    height: 55px;
    margin-left: 75px;
}

.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 30px;
    cursor: pointer;
}

.profile-user {
    display: block;
    font-size: 14px;
    margin-left: 75px;
    margin-top: -28px;
}

.user-email {
    color: gray;
    font-size: 12px;
    margin-left: 75px;
}

.ai-dropdown-menu button {
    display: block;
    border: none;
    margin-bottom: 10px;
    margin-right: 28px;
    padding: 7px;
    margin-top: 7px;
    width: 260px;
    background: none;
    text-align: justify;
    padding-left: 77px;
}

.ai-dropdown-menu button:focus {
    background: orange;
    color: #fff;
    padding: 7px;
    text-align: justify;
    padding-left: 77px;
}

.user-title {
    font-size: 14px;
    margin-left: 30px;
    color: gray;
}

.user-log-out {
    margin-left: 30px;
    border: none;
    font-size: 14px;
    width: 150px;
    margin-top: 10px;
    padding: 7px;
    border-radius: 5px;
    color: red;
    background: lightsalmon;
}