#job-title {
    width: 500px;
    padding: 10px;
}

.select-box select {
    width: 238px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 24px;
}

#prj_exp {
    width: 238px;
    padding: 9px;
}

#job-categories {
    width: 500px;
    padding: 10px;
    margin-bottom: 20px;
}

.select-box button {
    width: 200px;
    border-radius: 25px;
    color: #fff;
    background: rgb(159 114 47 / 86%);
    font-weight: bold;
    border: none;
    margin-left: 30px;
    padding: 13px;
    cursor: pointer;
}

.head {
    color: #000;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
}

strong {
    font-size: 24px;
}

.project-description {
    background: rgb(221, 217, 213, 1);
    position: absolute;
    right: 130px;
    left: 130px;
    top: 390px;
    padding-left: 240px;

    padding-bottom: 20px;
    padding-top: 20px;
}

.tool_bar {
    background-color: rgb(158, 148, 148);
    width: 500px;
}

.tool-1 {
    display: flex;
    flex-direction: row;
}

.tool-1 button {
    margin-top: 5px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 1px solid rgb(128, 121, 121);
    background: rgb(158, 148, 148);
}

.arrow {
    margin-top: 5px;
    border: none;
    background: rgb(158, 148, 148);
}

.tool-2 i {
    margin-right: 10px;

}

#word-doc {
    width: 500px;
    padding-bottom: 200px;
}

iframe {
    width: 495px;
    margin-top: 20px;
    height: 300px;
}

.attachments {
    padding-bottom: 5px;
    border: 2px dotted #bdb5b5;
    width: 495px;
    padding-left: 5px;
    padding-top: 5px;
}

.attachments button {
    width: 150px;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    background: rgb(19, 87, 130);
    border: none;
    margin-right: 10px;
}

.post_a_project {
    width: 150px;
    padding: 15px;
    color: #fff;
    background-color: rgb(159 114 47 / 86%);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 90px;
}

.post-project {
    margin-top: 35px;
    background: #fff;
    width: 495px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.post-project span {
    margin-left: 15px;
    color: rgb(158, 148, 148);
    cursor: default;
}