.header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
}

.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post_a_project {
    width: 150px;
    padding: 15px;
    color: #fff;
    background-color: rgb(176, 149, 114);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.search {
    width: 110px;
    text-align: right;
    color: rgb(121, 93, 57);
    border: 1px solid rgb(121, 93, 57);
    font-weight: 600;
    padding: 5px;
}

.dropdown .ddt,
.dropdown .ddt:hover {
    width: 130px;
    padding: 13px;
    border: 2px solid rgb(121, 93, 57);
    color: rgb(121, 93, 57);
    font-weight: bold;
    border-radius: 0px;
    text-align: right;
}

.ri-heart-3-line,
.ri-mail-line,
.ri-notification-2-line {
    font-size: 34px;
    cursor: pointer;
    color: rgb(163, 156, 148);
    margin-top: 4px;
}

.profile {
    border-radius: 10px;
    margin-top: 10px;
}

.options {
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 14px;
}

.desc-title {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(163, 156, 148);
}
#dropdown-item{
    color: rgb(135, 211, 230);
}
#small-dd{
    color: #7a7070;
}
.search_span{
color: #7a7070;
font-weight: bold;
}
.search_span:hover{
    color: rgb(86, 185, 224);
    transition: all 0.5s;
}