.job-details {
    display: grid;
    grid-template-columns: 30% 70%;
    position: absolute;
    top: 440px;

}

.details-to-know {
    background: rgb(186, 181, 188);
    padding-left: 25px;
    padding-bottom: 0px;
    padding-top: 10px;
    width: 224px;
    border-radius: 5px;
    margin-left: 36px;
    margin-top: 45px;
    padding-right: 40px;
}

.job_title {
    border-bottom: 1px solid #000;
    text-align: left;
    padding-left: 5px;
}

#enter {
    margin-left: 30px;
    padding: 10px;
    display: block;
    width: 200px;
    position: relative;
}

.search-category_1,
.search-category_2 {
    position: absolute;
    left: 232px;
    width: 40px;
    padding: 19px 3px 4px 8px;
    border: none;
    border-radius: 5px;
    background: rgb(159 114 47 / 86%);
}

.search-category_2 {
    top: 822px;
}

.search-category_1 {
    top: 565px;
}

.fa-magnifying-glass {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

#checkbox {
    margin-left: 50px;
    margin-top: 14px;
}

.requirements {
    display: grid;
    grid-template-columns: 63% 37%;
}

.keywords {
    border: 1px solid black;
    margin-right: 10px;
    padding: 5px;
    margin-left: 10px;
    border-radius: 25px;
}

.emp-description {
    width: 479px;
    margin-bottom: 20px;
}

.view {
    width: 135px;
    padding: 10px;
    border-radius: 25px;
    color: #fff;
    background-color: rgb(159 114 47 / 86%);
    border: none;
    margin-left: 20px;
    margin-bottom: 10px;
}

.page {
    padding: 10px;
    width: 50px;
}

.previous,
.Next,
.page {
    border: 1px solid #000;
    color: #000;
    font-weight: bold;
    margin-top: 10px;
    padding: 13px;
    cursor: pointer;

}

.Name {
    font-size: 20px;
}

.euro,
.ri-check-double-fill {
    color: rgb(27, 154, 27);
}

.ri-price-tag-3-fill {
    color: purple;
}

.ri-time-fill {
    color: brown;
}

.ri-folder-2-line {
    color: lightskyblue;
}

.previous {
    margin-left: 440px;
}

.btn_group {
    position: relative;
    top: 1813px;
    display: inline-flex;
    vertical-align: middle;
    border-radius: 0.375rem;
}

.price {
    margin-left: 40px;
}

.title_desc {
    font-size: 20px;
    margin-left: 45px;
}

.employee-info {
    background: rgb(234 234 234);
    width: 510px;
    padding-bottom: 30px;
    padding-left: 20px;
    border-radius: 5px;
    margin-top: 45px;
    margin-left: 35px;
    padding-right: 45px;
}

.job_search {
    background: rgb(234 234 234);
    padding-left: 1px;
    width: 260px;
    padding-bottom: 40px;
    padding-top: 3px;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 20px;
}

.highlights {
    margin-left: 19px;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 220px;
    height: 1px;
    background: rgb(138, 195, 231);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 25px;
    border-radius: 25px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 20px;
    border: 2px solid rgb(138, 195, 231);
    border-radius: 75px;
    background: rgb(232, 226, 226);
    cursor: pointer;
}

.scroll {
    margin-top: 20px;
    height: calc(155vh - 140vh);
    overflow-y: scroll;
    margin-right: 40px;
}

.scroll::-webkit-scrollbar {
    width: 2px;
}

.scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgb(192, 86, 86);
}

.pound {
    color: green;
}
#product-type{
    font-size: 1.12rem;
}