.wt-header {
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: #252530;

}

.wt-logo img {
    width: 280px;
    margin-top: 5px;
}

.more-options {
    margin-top: 15px;
    margin-left: 140px;
}

.more-options button {
    margin-right: 15px;
    color: #fff;
    background: #252530;
    font-size: 14px;
    border: none;
}