/* Master.css */
/* Classes for Text-box */
@media screen and (min-device-width: 992px) and (max-device-width:9999px) {

  .input-box-100,
  .Dropdown-box-100 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 100px !important;
  }

  .input-box-200,
  .Dropdown-box-200 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 200px !important;
  }

  .input-box-300,
  .Dropdown-box-300 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 300px !important;
    background-color: #fff;
  }

  .input-box-400,
  .Dropdown-box-400 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 400px !important;
  }

  .input-box-440,
  .Dropdown-box-440 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 440px !important;
    background: #fff;
  }

  .input-box-500,
  .Dropdown-box-500 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 500px !important;
  }

  .input-box-600,
  .Dropdown-box-600 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 600px !important;
  }

  .input-box-700,
  .Dropdown-box-700 {
    padding: 10px !important;
    margin: 20px !important;
    border: 1px solid !important;
    width: 700px !important;
  }

  .input-focus:focus {
    outline: 1px solid lightskyblue !important;
    border: none !important;
  }

  /* Classes for Text-box */




  /* TextArea */
  .textarea-1 {
    margin: 20px !important;
    padding-bottom: 120px !important;
    width: 300px !important;
  }

  .textarea-5 {
    margin: 20px !important;
    padding-bottom: 120px !important;
    width: 700px !important;
  }

  .textarea-2 {
    margin: 20px !important;
    padding-bottom: 120px !important;
    width: 440px !important;
  }

  .textarea-3 {
    margin: 20px !important;
    padding-bottom: 120px !important;
    width: 500px !important;
  }

  .textarea-4 {
    margin: 20px !important;
    padding-bottom: 120px !important;
    width: 600px !important;
  }

  /* Button */
  .create-btn {
    cursor: pointer !important;
    width: 150px !important;
    padding: 10px !important;
    border: none !important;
    font-size: 16px !important;
    background-color: #34e134 !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin: 20px !important;
  }

  .remove-btn {
    cursor: pointer !important;
    width: 150px !important;
    padding: 10px !important;
    border: none !important;
    font-size: 16px !important;
    background: #df2020 !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin: 20px !important;
  }

  .view-btn {
    cursor: pointer !important;
    width: 180px !important;
    padding: 10px !important;
    border: none !important;
    font-size: 16px !important;
    background: rgba(5, 26, 71, 0.678) !important;
    color: #fff !important;
    border-radius: 5px !important;
    margin: 20px !important;
  }

  .update-btn {
    cursor: pointer !important;
    width: 150px !important;
    padding: 10px !important;
    border: 1px solid;
    font-size: 16px !important;
    background: none !important;
    color: #000 !important;
    border-radius: 0px !important;
    margin: 20px !important;
  }

  .update-btn:hover {
    background-color: none !important;
    color: #000 !important;
    transition: .5s;
  }

  .create-btn:hover {
    color: #fff !important;
    background: #38a938 !important;
    transition: .5s;
  }

  .view-btn:hover {
    background: #282c34 !important;
    color: #fff !important;
    transition: .5s;
  }

  .remove-btn:hover {
    background-color: #fa3e3e !important;
    color: #fff !important;
    transition: .5s;
  }

  /* boder-radius */
  .bor-rad-5 {
    border-radius: 5px !important;
  }

  .bor-rad-10 {
    border-radius: 10px !important;
  }

  .bor-rad-25 {
    border-radius: 25px !important;
  }

  .bor-rad-0 {
    border-radius: 0px !important;
  }

  .bor-rad-52-2 {
    border-radius: 52px 2px !important;
  }

  /* padding */
  .padding-5 {
    padding: 5px !important;
  }

  .padding-10 {
    padding: 10px !important;
  }

  .padding-15 {
    padding: 15px !important;
  }

  .padding-20 {
    padding: 20px !important;
  }

  .padding-25 {
    padding: 25px !important;
  }

  .padding-30 {
    padding: 30px !important;
  }

  .padding-35 {
    padding: 35px !important;
  }

  .padding-40 {
    padding: 40px !important;
  }

  .padding-45 {
    padding: 45px !important;
  }

  .padding-50 {
    padding: 50px !important;
  }

  .padding-55 {
    padding: 55px !important;
  }

  .padding-60 {
    padding: 60px !important;
  }

  .padding-65 {
    padding: 65px !important;
  }

  .padding-70 {
    padding: 70px !important;
  }

  .padding_auto {
    padding: 0px 0px 0px 0px;
  }

  .margin-auto {
    margin: 0px 0px 0px 0px;
  }

  .margin-5 {
    margin: 5px !important;
  }

  .margin-10 {
    margin: 10px !important;
  }

  .margin-15 {
    margin: 15px !important;
  }

  .margin-20 {
    margin: 20px !important;
  }

  .margin-25 {
    margin: 25px !important;
  }

  .margin-30 {
    margin: 30px !important;
  }

  .margin-35 {
    margin: 35px !important;
  }

  .margin-40 {
    margin: 40px !important;
  }

  .margin-45 {
    margin: 45px !important;
  }

  .margin-50 {
    margin: 50px !important;
  }

  .margin-55 {
    margin: 55px !important;
  }

  .margin-60 {
    margin: 60px !important;
  }

  .margin-65 {
    margin: 65px !important;
  }

  .margin-70 {
    margin: 70px !important;
  }

  /* width */
  .width-100 {
    width: 100px !important;
  }

  .width-150 {
    width: 150px !important;
  }

  .width-200 {
    width: 200px !important;
  }

  .width-250 {
    width: 250px !important;
  }

  .width-300 {
    width: 300px !important;
  }

  .width-350 {
    width: 350px !important;
  }

  .width-400 {
    width: 400px !important;
  }

  .width-450 {
    width: 450px !important;
  }

  .width-500 {
    width: 500px !important;
  }

  .width-550 {
    width: 550px !important;
  }

  .width-600 {
    width: 600px !important;
  }

  .width-650 {
    width: 650px !important;
  }

  /* Size */
  .head-title {
    font-size: 18px !important;
    font-weight: 600 !important;
    color: #000;
    cursor: default !important;
    margin: 10px;
  }

  .med-sub-title {
    font-size: 12px !important;
    cursor: default !important;
    margin-left: 20px !important;
    margin-top: 5px;
    text-transform: capitalize;
  }

  .sub-title {
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #000;
    cursor: default !important;
  }

  .sub-topic-title {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
  }

  .label-name {
    font-size: 14px !important;
    color: #000;
    display: block;
    cursor: default !important;
  }

  .para-text {
    font-size: 12px !important;
    color: #000;
    cursor: default !important;
  }

  .capital-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 20px;
  }

  .Capitalize-title {
    text-transform: capitalize;
    font-size: 20px;
    margin-left: 20px;
    font-weight: 400;
  }

  /* Master.css */
}